name: build
on:
    push:
        branches: [ '*' ]
    pull_request:
        branches: [ '*' ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
            -   uses: actions/setup-java@v4
                with:
                    distribution: 'zulu'
                    java-version: '8'
            -   name: maven build
                run: mvn --batch-mode --errors --show-version --no-transfer-progress clean verify
