name: build
on:
    push:
        branches: [ '*' ]
    pull_request:
        branches: [ '*' ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
            -   uses: actions/setup-java@v3
                with:
                    distribution: 'zulu'
                    java-version: '8'
            -   name: maven build
                run: mvn --batch-mode --errors --show-version --no-transfer-progress clean verify
