name: build
on:
    push:
        branches: [ '*' ]
    pull_request:
        branches: [ '*' ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
            -   uses: actions/setup-java@v4
                with:
                    distribution: 'zulu'
                    java-version: '11'
            -   name: maven build
                run: mvn --batch-mode --errors --show-version --no-transfer-progress clean verify
