name: release
on:
    push:
        tags: [ '*' ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
            -   uses: actions/setup-java@v4
                with:
                    distribution: 'zulu'
                    java-version: '11'
            -   name: maven release
                env:
                    GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
                    GPG_OWNERTRUST: ${{ secrets.GPG_OWNERTRUST }}
                    GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
                    SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
                    SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
                run: |
                    if echo "${GITHUB_REF_NAME}" | egrep '^[0-9]+\.[0-9]+\.[0-9]+(-[0-9]+)?$'
                    then
                        # the tag looks like a version number: proceed with release
                        echo ${GPG_SECRET_KEY} | base64 --decode | gpg --import --no-tty --batch --yes
                        echo ${GPG_OWNERTRUST} | base64 --decode | gpg --import-ownertrust --no-tty --batch --yes
                        mvn --batch-mode --errors --show-version --no-transfer-progress versions:set -DnewVersion=${GITHUB_REF_NAME}
                        mvn --batch-mode --errors --show-version --no-transfer-progress --settings .github/settings.xml -Prelease deploy
                    fi
